html{
    margin:0;
    padding:0;
    font-size:50px;
    height:100%;
    width:100%;
}

body{
    background-color:gray;
    display:flex;
    justify-content:center;
    align-items:center;

}

#frame{
    display:flex;
    flex-direction:column;
    background-color:brown;
    border:0.1em solid brown;

}

#display{
    background-color:black;
    color:white;
    text-align:right;
}

h1{
    font-size:1em;
}

#divider{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:orange;
}
h2{
    font-size:.5em;
}

#buttons{
    height:7em;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(5, 1fr);
}

button{
    min-width:3em;
    font-size:0.5em;
}

button:hover{
    box-shadow: 0em 0em 1em white;
}
